@model List<WeddingPlanner.Models.Wedding>

<div class="row">
    <div class="col-9">
        <h1>Welcome to the Wedding Planner</h1>
    </div>
    <div class="col">
        <a style="float: right;" href="/logout">Log Out</a>
    </div>
</div>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Wedding</th>
            <th scope="col">Date</th>
            <th scope="col">Guest</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach(Wedding wedding in Model)
            {
                <tr>
                    <td><a href="/details/@wedding.WeddingId">@wedding.WedderOne & @wedding.WedderTwo</a></td>
                    <td>@wedding.Date.ToString("MMM dd yyyy")</td>
                    <td>@wedding.Atendees.Count</td>
                    @if(@ViewBag.user.UserId == @wedding.UserId)
                    {
                        <td><a href="/delete/@wedding.WeddingId">Delete</a></td>
                    }
                    else if(@ViewBag.notAttending.Contains(@wedding))
                    {
                        <td><a href="/rsvp/@wedding.WeddingId">RSVP</a></td>
                    }
                    else
                    {
                        <td><a href="/cancel/@wedding.WeddingId">Cancel RSVP</a></td>
                    }
                </tr>
            }
        }
    </tbody>
</table>
<a class="btn btn-primary" href="/wedding/new" style="float: right;">New Wedding</a>